/* Color Variables*/
:root {
  --pg-bg: #f4f4f4;
  --section-bg: #ffffff;
  --text-main: #000000;
  --hero-text: #bca754;
  --accent: #bca754;
  --nav-footer-bg: #000000;
  --nav-footer-text: #ffffff;
  --border-color: #ddd;
  --hero-command:#ccbb6d;
  --title-text:#bca754;
  --form-text:#000000;
  --nav-bg : #bca754;
}

.dark-mode{
  --pg-bg: #121212;
  --section-bg: #1e1e1e;
  --text-main: #ffffff;
  --title-text: #bca754;
  --hero-command:#ccbb6d;
  --border-color: #333333;
  --form-text:#bca754;
  --nav-bg: black;
}

.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 100;
  font-style: normal;
}


/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Michroma', sans-serif;
  line-height: 1.6;
  color: var(--text-main);
  background-color: var(--pg-bg);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Header Styles */
header {
  background-color:var(--pg-bg);
  color: var(--text-main);
  padding: 1rem 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 2rem;
  margin: 0;
  text-align: center;
}


/* Navigation Styles */
nav {
  background-color: var(--nav-bg);
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 0 20px; 
  position: sticky;
  z-index: 10;
  top: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; 
}

nav li a {
  display: block;
  color: var(--text-main);
  text-align: center;
  padding: 16px 24px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

nav li a:hover {
  background-color: var(--accent);
}

/* .nav-links li a.task-tracer-link {
  border: 10px solid white;
} */


.nav-btn {
  border: none;         
  background: none;      
  padding: 16px 24px;   
  margin: 0;
  border-radius: 0;
}

.nav-btn:hover {
  background-color: var(--accent);  
}

.nav-btn i {
  font-size: 1.2rem;  
  color: var(--text-main);
}

.hamburger {
  display: none;
  border: none;
  background-color: none;
  color: var(--nav-footer-text);
  font-size: 2rem;
  cursor: pointer;
}

/* Main Content */
main {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 2rem;
}

section {
  background-color: var(--section-bg);
  padding: 2rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  min-height: 600px;
}

section h2 {
  color: var(--text-main);
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.hero-section {
  position: relative; 
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('media/hero-image.jpg');
  background-size: cover;
  background-position: center;
}

.hero-section h1 {
  font-size: 140px;
  color: var(--hero-text);
  display: flex; 
  text-align: left;
}

.hero-section h2 {
  font-size: 80px;
  font-weight: none;
  color: var(--hero-text);
  display: flex; 
  justify-content: center;
  font-style: italic;
}

/* .hero-section p {
  font-weight: bold;
  color: var(--hero-text);
  display: flex; 
  text-align: left;
} */

.hero-ctrl{
   position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hero-command{
  font-style: italic;
  margin: 10px;
  align-items: center;
  color: var(--hero-command);
}

.hero-btns {
  display: flex;
  gap: 20px;
  border: none;
}

.hero-icons {
  color: #bca754;
}

.hero-icons:hover {
  color: white;
}

.about-section {
  display: flex; 
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}

.about-section h2 {
  font-size: 5rem;
  color: var(--title-text);
}

.about-section p {
  font-size: 1.25rem;
}

.hire-section {
  display: flex; 
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}

.hire-section h2 {
  font-size: 5rem;
  color: var(--title-text);
}

.hire-section p {
  font-size: 1.25rem;
}

.hire label {
  /* display: flex; */
  color: var(--form-text);
  align-items: left;
}

.hire input[type=text] {
  width: 100%;
  border: 2px solid #bca754;
  border-radius: 5px ;
  background-color: transparent;
  height: 45px;
  outline: none;
  color: var(--text-main);
  font-family: 'Michroma', sans-serif;
}

.hire input[type=text]:focus {
  border-bottom: 2px solid #4e320a;
}


.hire input[type=tel] {
  width: 100%;
  border: 2px solid #bca754;
  border-radius: 5px ;
  background-color: transparent;
  height: 45px;
  outline: none;
  color: var(--text-main);
  font-family: 'Michroma', sans-serif;
}

.hire select {
  width: 100%;
  border: 2px solid #bca754;
  border-radius: 5px;
  background-color: transparent;
  height: 45px;
  outline: none;
  color: var(--text-main);
  font-family: 'Michroma', sans-serif;
}

.hire input[type=radio] {
  outline: none;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.hire input[type=radio]:checked + .radio-btn {
  border-color: var(--accent);
}

.hire input[type=radio]:checked + .radio-btn::before {
  transform: translate(-50%, -50%) scale(1);
}

.radio-btn {
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 8px;
  transition: all 0.2s ease-in-out;
}

.radio-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  background-color: var(--accent); 
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}

.radio-btn:hover {
  color: #f4f4f4;
}

.hire input[type=submit] {
  background-color: var(--accent);
  border: none;
  border-radius: 5px;
  color: white;
  width: 100%;
  height: 45px;
  margin-top: 20px;
  font-size: 20px;
  font-family: 'Michroma', sans-serif;
}


.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 1;
  position: relative;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.contact-section h2 {
  font-size: 5rem;
  margin-top: 0;
  color: var(--accent);
  font-family: 'Michroma', sans-serif;
}

.contact-section p {
  font-size: 1.25rem;
  color: var(--accent);
  font-weight: bold;
  font-family: 'Michroma', sans-serif;
}

.contact-section ul{
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  display: flex;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.social-icons {
  display: flex;
  padding: 0;
  margin-left: 8.5px;
  margin-right: 8.5px;
  margin-top: 10px;
  color: var(--nav-footer-text);
  font-size: 2rem;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons:hover {
  transform: scale(2);
  color: var(--accent);
}

.services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.services-section h2 {
  font-size: 5rem;
  color: var(--title-text);
}

.services-section p {
  font-size: 1.25rem;
}

.services-grid {
  display: flex;
  flex-direction: row;        
  justify-content: center;    
  gap: 20px;                 
  flex-wrap: wrap;         
  margin-top: 30px;
}

.card {
  background-color: var(--section-bg);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden;          
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 350px;     
  display: flex;
  flex-direction: column;    
}

.card-container {
  flex: 1.5;  
  padding: 30px;
  width: 100%;
  max-width: 350px;
  height: auto;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

/* .card-img:hover {
  transform: scale(1.2);
} */

.card-title {
  font-weight: bold;
  font-size: 25px;
  color: var(--title-text);
  min-height: 10px;
  margin-top:0;
  align-items: flex-start;
  text-align: left;
  text-decoration: none;
}

.card-description {
  color: var(--text-main);
  align-items: flex-start;
  text-align: left;

}

.portfolio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}

.portfolio-section h2 {
  font-size: 5rem;
  color: var(--title-text);
}

.portfolio-section p {
  font-size: 1.25rem;
}

.portfolio-grid {
  display: flex;
  flex-direction: row;        
  justify-content: center;    
  gap: 20px;                 
  flex-wrap: wrap;         
  margin-top: 30px;
}
/* Footer Styles */
footer {
  background-color: var(--nav-footer-bg);
  color: var(--text-main);
  text-align: center;
  padding: 1rem 0;    
  margin-top: 0;
}

.footer p {
  margin: 0;
  font-size: 1rem;
  color: var(--nav-footer-text);
}

.footer-icons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.footer-icons-container ul{
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  display: flex;
}

.footer-icons {
  display: flex;
  padding: 0;
  margin-left: 8.5px;
  margin-right: 8.5px;
  color: var(--nav-footer-text);
  font-size: 2rem;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}

.footer-icons:hover {
  transform: scale(2);
  color: var(--accent);
}
 
button {
  padding: 10px 20px;  
  color: var(--nav-footer-text);
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--nav-footer-bg);
  border: 1px solid var(--border-color);  
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

button:hover {
  background-color: var(--accent);
}

@media (max-width: 768px) {
  .hero-section h1 {
  font-size: 75px;
}

.hero-section h2 {
  font-size: 1.2 rem;
}
  
.about-section h2,
.contact-section h2,
.services-section h2,
.portfolio-section h2 {
  font-size: 3rem;
}

.card {
  width: 100%;
  max-width: 350px;
}

nav {
  flex-wrap: wrap;
}

nav ul{
  display: none;
  flex-direction: column;
  width: 100%;
}

.hamburger{
  display: block;
}

nav ul.show-menu{
  display: flex;
}
}